body{
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 100%;
    font-size: 1.2rem;

}
.card__container{
    display: flex;
    flex-direction: column;
    border: solid lightblue 0.5px;
    border-radius: 20px;
    padding: 20px 40px;
    background-color: rgb(57, 205, 155);
    color: white;
    max-width: 500px;
    width: 80%;
    
}
.card__header{
    display: flex;
    color: white;
}

.square{
    height: 80px;
    width: 80px;
    border:solid white 5px;
    margin-right: 30px;
}
.card__input{
    width: 60%;
    background-color:rgba(85, 227, 179, 0.94) ;
    border: 0;
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: larger;
}
.card__button{

}
.card__select{
    width: 20%;
    background-color:rgba(85, 227, 179, 0.94) ;
    border: 0;
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: larger;

}
.input__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.button__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}
.card__button{
    background-color:white;
    border: 0;
    padding: 12px;
    border-radius: 10px;
    color: rgb(85, 227, 180);
    font-weight: bold;
    font-size: larger;
}
.result__text{
    font-weight: bold;
    font-size: xx-large;
}
.result__container{
    box-shadow: 1px 10px 1px -2px rgba(255,255,255,1);
    -webkit-box-shadow: 1px 10px 1px -2px rgba(255,255,255,1);
    -moz-box-shadow: 1px 10px 1px -2px rgba(255,255,255,1);
    border-radius: 20px;
    margin: 15px 0;
}